
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle start>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title text-capitalize>categories</ion-title>
    <ion-buttons class="head-btns" end>
      <button (click)="toggleSearch()" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
      <button navPush="CartPage" ion-button icon-only>
        <ion-icon name="md-cart"></ion-icon>
        <ion-badge class="cart-no" color="danger">2</ion-badge>
      </button>
    </ion-buttons> 
  </ion-navbar>

  <ion-toolbar color="primary" class="search-toolbar" *ngIf="showSearch">
    <ion-searchbar color="primary"></ion-searchbar>
  </ion-toolbar>
</ion-header>

  
<ion-content>
  <ion-list class="category-list" no-margin>
    <ion-item *ngFor="let item of category" navPush="ListPage" no-lines>
      <h2>{{item.title}}</h2>
      <p class="description">{{item.subtitle}}</p>
      <div class="stars">
         <ion-icon name="md-star"></ion-icon>
         <ion-icon name="md-star"></ion-icon>
         <ion-icon name="md-star"></ion-icon>
         <ion-icon name="md-star"></ion-icon>
         <ion-icon name="md-star-half"></ion-icon>
         <p no-margin>4.6</p>
       </div>
      <ion-thumbnail item-right>
        <img src="{{item.img}}">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>